h1, h2, h3, h4, h5, h6 {
    font-family: 'Calistoga', cursive;
}

p {
    font-family: 'Calistoga', cursive;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1rem; }

.primary-font { font-family: 'Calistoga', cursive; }
.secondary-font { font-family: 'Outfit', sans-serif; }

ul.uk-subnav > li a {
    font-family: 'Outfit', sans-serif;
    font-size: 1.6rem !important;
    color: darkslategrey;
}